.designMode {
  .mod-banner-animation {
    .btn {
      transform: translateY(0);
      @apply opacity-100;
    }
  }
}
@screen xl {
  .ani-75per {
    .bed-img {
      transform: translate(-25%, 0);
    }
  }
  .hide-bed-anim {
    .bed-img {
      transform: translate(-60%, 0);
    }
    .bed-bg-color {
       @apply top-40;
    }
    .ban-left-anim {
      transform: translateY(40px);
    }
    .btn {
      transform: translateY(20px);
      @apply opacity-0 pointer-events-none;
    }
  }
  .bed-img {
    object-fit: contain;
    object-position: bottom;
    transform: translate(0%, -25px);
    transition: all .7s ease-in-out;
  }
  .bed-bg-color {
    transition: all .25s;
  }
  .ban-left-anim {
    transition: all .25s;
  }
  .btn {
    transition: all .25s;
  }
}
@screen 2xl {
  .ani-75per {
    .bed-img {
      transform: translate(-25%, -54px);
    }
  }
  .hide-bed-anim {
    .bed-img {
      transform: translate(-69%, 16px);
    }
    .bed-bg-color {
      top: 204px;
    }
    .ban-left-anim {
      transform: translateY(60px);
    }
    .btn {
      transform: translateY(40px);
    }
  }
  .bed-img {
    transform: translate(0%, -54px);
  }
}
