<span class="icomoon icon-cart"></span>
<span class="cart-count-bubble text-icon 1k8:block text-font-16 ml-4 text-hush-black 1k8:-mt-1">
  <span class="hidden cart-icon-bubble 1k8:inline-block">Cart </span><span class="down_xl:hidden">(</span>{%- if cart != empty -%} {{cart.item_count }} {% else %} {{'0'}} {% endif%}<span class="down_xl:hidden">)<span>
</span>