<!-- import css, not include backend -->
<div class="d-none hidden h-96">
  <div class="h-0 h-5 h-10 h-15 h-20 h-25 h-30 h-35 h-40 h-45 h-50 h-55
  h-60 h-65 h-70 h-75 h-80 h-85 h-90  h-95 h-100"></div>
  <div class="h-2-half h-7-half h-12-half h-17-half h-22-half h-27-half h-32-half h-37-half h-42-half h-47-half
  h-52-half h-57-half h-62-half h-67-half h-72-half h-77-half h-82-half h-87-half h-92-half h-97-half"></div>
  <div class="md:h-0 md:h-5 md:h-10 md:h-15 md:h-20
  md:h-25 md:h-30 md:h-35 md:h-40
  md:h-45 md:h-50 md:h-55
  md:h-60 md:h-65 md:h-70 md:h-75 md:h-80 md:h-85 md:h-90
  md:h-95 md:h-100"></div>
  <div
    class="2xl:px-6 md:h-2-half md:h-7-half md:h-12-half md:h-17-half md:h-22-half md:h-27-half md:h-32-half md:h-37-half md:h-42-half md:h-47-half
  md:h-52-half md:h-57-half md:h-62-half md:h-67-half md:h-72-half md:h-77-half md:h-82-half md:h-87-half md:h-92-half md:h-97-half">
  <div
    class="2xl:px-6 xl:h-2-half xl:h-7-half xl:h-12-half xl:h-17-half xl:h-22-half xl:h-27-half xl:h-32-half xl:h-37-half xl:h-42-half xl:h-47-half
  xl:h-52-half xl:h-57-half xl:h-62-half xl:h-67-half xl:h-72-half xl:h-77-half xl:h-82-half xl:h-87-half xl:h-92-half xl:h-97-half">
  </div>
  <div class="screenshot"></div>
  <div class="z-9998 z-9997 init-scroll-luxy feature-nav-has z-9996 z-9995 z-9994 z-9993 z-9992 z-9991 z-9990 z-9989 z-9988 z-9987 z-9986 z-9985 z-9984 z-9983 z-9982 z-9981 z-9980 z-9979 z-9978 z-9977 z-9976 z-9975"></div>
  <div class="xl:h-0 xl:h-5 xl:h-10 xl:h-15 xl:h-20 xl:h-25 xl:h-30 xl:h-35 xl:h-40 pt-30 px-6
  xl:h-45 xl:h-50 xl:h-55
  xl:h-60 xl:h-65 xl:h-70 xl:h-75 xl:h-80 xl:h-85 xl:h-90 xl:h-95 xl:h-100"></div>
  <div class="no-bg bg bg-bottom-center bg-bottom-right bg-bottom-left
  bg-top-center bg-center bg-top-left bg-top-right"></div>
  <div class="bg-right-bottom bg-left-bottom bg-left-top bg-right-top option-bg-white section-header"></div>
  <div class="btn-outline-brown btn-text-brown "></div>
  <div class="h1 h2 h3 h4 h5 h6 text-left text-center
  text-right text-white ps-as last-mb-none __affirm-logo"></div>
  <div class="delay-1 delay-2 delay-3 delay-4 delay-5
  delay-6 delay-7 delay-8 delay-9 delay-10"></div>
  <div class="text-small text-large admin-bar"></div>
  <div class="front-page-data error404"></div>
  <div class="col-md-1 col-md-3 col-md-4 col-md-5 col-md-6
  col-md-7 col-md-8 col-md-9 col-md-10 col-md-11"></div>
  <span class="stamped-badge index  " data-rating="5.0" data-lang="" aria-label="Rated 5.0 out of 5 stars 6reviews"><span
      class="stamped-starrating stamped-badge-starrating" aria-hidden="true"><i class="stamped-fa stamped-fa-star"
        aria-hidden="true"></i><i class="stamped-fa stamped-fa-star" aria-hidden="true"></i><i
        class="stamped-fa stamped-fa-star" aria-hidden="true"></i><i class="stamped-fa stamped-fa-star"
        aria-hidden="true"></i><i class="stamped-fa stamped-fa-star" aria-hidden="true"></i></span><span
      class="stamped-badge-caption" data-reviews="6" data-rating="5.0" data-label="reviews" aria-label="6 reviews"
      data-version="2">6<span style="display:none;/* display: inline-block !important; */"> reviews</span></span></span>
  <div class="col-lg-1 col-lg-3 col-lg-4 col-lg-5 col-lg-6
  col-lg-7 col-lg-8 col-lg-9 col-lg-10 col-lg-11 pt-39 md:pt-10 2xl:pt-34"></div>
  <table width="100%">
<tbody>
<tr>
<td>Title 1</td>
<td>Title 2</td>
<td>Title 3</td>
<td>
<p>Title 4</p>
</td>
</tr>
<tr>
<td><span>Lorem ipsum dolor sit amet</span></td>
<td><span>Lorem ipsum dolor sit amet,&nbsp;sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></td>
<td>&nbsp;<span>Lorem ipsum dolor sit amet</span>
</td>
<td><span>Lorem ipsum dolor sit amet</span></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
<div class="object-center object-left-top object-right-top object-left-bottom object-right-bottom">
</div>
<div class="lg:object-center lg:object-left-top lg:object-right-top lg:object-left-bottom lg:object-right-bottom">
</div>
<div class="md:object-center md:object-left-top md:object-right-top md:object-left-bottom md:object-right-bottom">
</div>
<div class="xl:object-center xl:object-left-top xl:object-right-top xl:object-left-bottom xl:object-right-bottom">
</div>
<div class="2xl:object-center 2xl:object-left-top 2xl:object-right-top 2xl:object-left-bottom 2xl:object-right-bottom">
</div>
<div class="2k:object-center 2k:object-left-top 2k:object-right-top 2k:object-left-bottom 2k:object-right-bottom">
</div>
</table>
  <div class="mt-5 run-screenshort mt-7 mb-10 loading-overlay__spinner wrap-content-socials px-12 max-w-500 mb-22 md:mb-28 xl:mb-32p5 1k8:mb-41 md:px-0 md:mx-auto xl:max-w-752 2xl:max-w-792 wrap-bg-contact w-100vw xl:w-auto relative xl:static min-h-384 md:min-h-450 xl:min-h-0 relative xl:ml-60 1k8:ml-135 xl:py-0p5 xl:min-h-482 1k8:min-h-585
  callout-wrap relative z-2 last-mb-none bg-white -mt-63 py-36 px-20 md:-mt-77 md:max-w-500 mx-auto md:py-28 md:px-24 xl:max-w-466 xl:-ml-60 xl:w-full xl:mt-46 xl:mb-52 xl:p-20 1k8:max-w-660 1k8:mt-36 1k8:mb-47 1k8:-ml-135 1k8:py-44 1k8:pl-44 1k8:pr-75 text-hush-black flex mb-28 md:mb-20 xl:mb-21 1k8:mb-28"></div>
  <div
    class="object-center order-2 mt-6 object-left-bottom object-left-top object-right-bottom object-right-top md_object-center md_object-left-bottom md_object-left-top md_object-right-bottom md_object-right-top">
    <div class="active open in is-open is-close close md:text-right"></div>
    <div
      class="no-bg bg bg-bottom-center bg-bottom-right bg-bottom-left bg-top-center bg-center bg-top-left bg-top-right bg-blue-600">
    </div>
    <div
      class="max-w-1060 2xl:max-w-1016 opacity-0 opacity-10 opacity-20 opacity-30 opacity-40 opacity-50 opacity-60 opacity-70 opacity-80 opacity-90 opacity-100">
    </div>
    <div class="h1 h2 h3 h4 h5 h6 text-left text-center text-right text-white inset-0 absolute last-mb-none"></div>
    <div class="col-md-1 col-md-3 col-md-4 col-md-5 col-md-6 col-md-7 col-md-8 col-md-9 col-md-10 col-md-11"></div>
    <div class="col-lg-1 col-lg-3 col-lg-4 col-lg-5 col-lg-6 col-lg-7 col-lg-8 col-lg-9 col-lg-10 col-lg-11 2xl:overflow-auto"></div>
    <div class="active open in is-open is-close close b-loaded"></div>
    <div
      class="h-full down_lg:1/2 down_lg:1/1 lg:w-1/3 lg:w-1/2 lg:w-1/4 lg:w-1/6 lg:w-1/5  slick-slide slick-current slick-active slick-cloned slick-center slick-dots slick-prev slick-next slick-arrow slick-track slick-list draggable slick-initialized slick-slider">
    </div>
    <div
      class="popup-is-close mr-6 popup-is-open 2xl:pt-19  md:pt-0 pt-19 xl:pt-4 icon-cancel popup-inner popup-show popup-content mask-pop-overlay mod-popup popup-container is-click popup-video gallary-silder no-element popup-animation">
    </div>
    <small></small>
    <strong></strong>
    <sup></sup>
    <sub></sub>
    <em></em>
    <div class="collage-main-img relative pb-69p ml-34 md:ml-43 md:pb-73p xl:pb-43p xl:ml-96"><div class="absolute h-full w-full object-cover object-center b-loaded" src="//cdn.shopify.com/s/files/1/0662/9516/9245/files/content-slider-1.jpg?v=1664768858" alt="Main Collage"><div class="collage-sub-img-1 absolute -left-22 -bottom-7 w-51p h-40p md:-bottom-11 md:left-0 md:w-56p md:h-43p xl:-left-47 xl:-bottom-21 xl:h-59p xl:w-49p 2xl:-left-68 2xl:-bottom-19">
                  <div class="h-full w-full object-cover object-center b-loaded" src="//cdn.shopify.com/s/files/1/0662/9516/9245/files/content-slider-3.jpg?v=1664768858" alt="Sub Collage">
                </div><div class="collage-sub-img-2 absolute -left-34 bottom-28 w-31p h-41p md:-left-43 md:bottom-58 md:h-32p md:w-41p xl:h-39p xl:w-29p xl:-left-95 xl:bottom-97 2xl:h-51p">
                  <div class="h-full w-full object-cover object-center b-loaded form-status-list form__message" src="//cdn.shopify.com/s/files/1/0662/9516/9245/files/content-slider-2.jpg?v=1664768858" alt="Sub Collage">
                </div></div>
    <!-- slider -->
    <div class="product-form__error-message-wrapper" role="alert">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13" >
                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"></circle>
                    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"></circle>
                    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"></path>
                    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7"></path>
                    </svg>
                  <span class="product-form__error-message">You can't add more Quest 1.0 Adjustable Base - Queen to the cart.</span>
                </div>
    <div
      class="tns-nav tns-nav-active tns-outer tiny-prev tiny-next tns-liveregion tns-visually-hidden tns-ovh tns-inner tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal tns-slide-active tns-item">
    </div>
    <small></small>
    <strong></strong>
    <sup></sup>
    <sub></sub>
    <em></em>
    <a class="dropdown-toggle form-control shadow-none no-underline relative border-1 border-solid border-primary-100 w-full font-bold px-10 py-5 flex items-center text-decoration box-shadow"
      href="javascript:;" role="combobox" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false"
      aria-controls="id-select-1" aria-labelledby="id-4066278899-label" aria-activedescendant="">
      <span
        class="filter-option d-block text-truncate overflow-hidden text-ellipsis whitespace-nowrap font-bold pr-10 leading-none text-lg">India</span><span
        class="caret-c8 icomoon icon-chevron-down absolute z-1 right-7 top-8"></span></a>

        <div class="nano">
          <div class="table h-full nano-content">
            <div class="table-cell align-middle">
              <div class="last-mb-none" data-cy="content">
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="submit-area last-mb-none text-left mt-24 md:mt-17 xl:mt-4 2xl:mt-17 md:max-w-380 2xl:max-w-none mb-9 xl:mb-7 dynamic_title_upsell">
              <product-form class="flex flex-col product-form">
                <div class="product-form__error-message-wrapper" role="alert" hidden="">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"></circle>
                    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"></circle>
                    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"></path>
                    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                  </path></svg>
                  <span class="product-form__error-message"></span>
                </div><div id="launchtip_upsell_wrapper" style="margin-top:nullpx;margin-bottom:nullpx;"><input type="hidden" value="52184" class="upsell_onpage_sellup_id"><div id="product-frio-5-sided-mattress-protector" style="border-top-width:nullpx;border-left-width:nullpx;border-right-width:nullpx;border-bottom-width:nullpx;border-color:null;padding:nullpx;display: flex;" class="item quest-10-adjustable-bed productbox upsellproductcount0">		                          <div class="image upline" style="
    width: 132px;
    background: #F5F8FA;
    mix-blend-mode: multiply;
    border-radius: 5.94595px;
    margin-right: 35px;
">		                          <a href="/products/frio-5-sided-mattress-protector">		                          <img style="width: 60px;height: auto;display: block;width: 100%;" src="//cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_1_Intro.jpg?v=1666589110">		                          </a>		                          </div>		                          <div class="details  upline" style="">		                          <a class="detail_title" href="/products/frio-5-sided-mattress-protector">		                          <span class="title" style="" title="FRiO 5-Sided Mattress Protector">FRiO 5-Sided Mattress Protector</span>		                          </a>		                          <div class="detail_price"><span class="price" style="">Now $191.49</span><input type="hidden" value="191.49" class="main_price"></div>		                          </div>		                          <div class="action  upline">		                          		                          <div class="lightbox launchtiplightbox upsell_variants" id="fl00p">		                          <h3>Please select an option</h3>		                          <div class="lbimg">		                          <img style="max-width: 250px;height: auto;width:100%;margin: auto;display: block;" class="lightboximage" src="//cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_1_Intro.jpg?v=1666589110">		                          <form action="#" method="post" class="LaunchTipAddToCartForm launchtipsellupform" enctype="multipart/form-data">		                              <div class="provariantdata" style="display:none;">{"id":7904216711389,"title":"FRiO 5-Sided Mattress Protector","handle":"frio-5-sided-mattress-protector","description":"<p>PureCare FRíO combines our specially designed OmniGuard® Advance fabric with rapid chill cooling fibers – a micarex-based responsive textile with unique cooling properties. FRíO’s rapid chill cooling fibers disperse body heat throughout the surface of the protector at a rate 5X faster than regular polyester.</p>","published_at":"2022-10-23T22:25:09-07:00","created_at":"2022-10-23T22:25:07-07:00","vendor":"ergomotion","type":"","tags":[],"price":13050,"price_min":13050,"price_max":19149,"available":true,"price_varies":true,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":43452482715869,"title":"Cal King / White","option1":"Cal King","option2":"White","option3":null,"sku":"FRIOMP72","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"FRiO 5-Sided Mattress Protector - Cal King / White","public_title":"Cal King / White","options":["Cal King","White"],"price":19149,"weight":0,"compare_at_price":null,"inventory_management":"shopify","barcode":"","requires_selling_plan":false,"selling_plan_allocations":[]},{"id":43452482748637,"title":"Full XL / White","option1":"Full XL","option2":"White","option3":null,"sku":"FRIOMP80","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"FRiO 5-Sided Mattress Protector - Full XL / White","public_title":"Full XL / White","options":["Full XL","White"],"price":17990,"weight":0,"compare_at_price":null,"inventory_management":"shopify","barcode":"","requires_selling_plan":false,"selling_plan_allocations":[]},{"id":43452482781405,"title":"Split Cal King / White","option1":"Split Cal King","option2":"White","option3":null,"sku":"FRIOMP36","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"FRiO 5-Sided Mattress Protector - Split Cal King / White","public_title":"Split Cal King / White","options":["Split Cal King","White"],"price":15160,"weight":0,"compare_at_price":null,"inventory_management":"shopify","barcode":"","requires_selling_plan":false,"selling_plan_allocations":[]},{"id":43452482814173,"title":"Full / White","option1":"Full","option2":"White","option3":null,"sku":"FRIOMP46","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"FRiO 5-Sided Mattress Protector - Full / White","public_title":"Full / White","options":["Full","White"],"price":13660,"weight":0,"compare_at_price":null,"inventory_management":"shopify","barcode":"","requires_selling_plan":false,"selling_plan_allocations":[]},{"id":43452482846941,"title":"Twin XL / White","option1":"Twin XL","option2":"White","option3":null,"sku":"FRIOMP38","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"FRiO 5-Sided Mattress Protector - Twin XL / White","public_title":"Twin XL / White","options":["Twin XL","White"],"price":13660,"weight":0,"compare_at_price":null,"inventory_management":"shopify","barcode":"","requires_selling_plan":false,"selling_plan_allocations":[]},{"id":43452482879709,"title":"Queen / White","option1":"Queen","option2":"White","option3":null,"sku":"FRIOMP50","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"FRiO 5-Sided Mattress Protector - Queen / White","public_title":"Queen / White","options":["Queen","White"],"price":15710,"weight":0,"compare_at_price":null,"inventory_management":"shopify","barcode":"","requires_selling_plan":false,"selling_plan_allocations":[]},{"id":43452482912477,"title":"King / White","option1":"King","option2":"White","option3":null,"sku":"FRIOMP78","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"FRiO 5-Sided Mattress Protector - King / White","public_title":"King / White","options":["King","White"],"price":19149,"weight":0,"compare_at_price":null,"inventory_management":"shopify","barcode":"","requires_selling_plan":false,"selling_plan_allocations":[]},{"id":43452482945245,"title":"Twin / White","option1":"Twin","option2":"White","option3":null,"sku":"FRIOMP33","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"FRiO 5-Sided Mattress Protector - Twin / White","public_title":"Twin / White","options":["Twin","White"],"price":13050,"weight":0,"compare_at_price":null,"inventory_management":"shopify","barcode":"","requires_selling_plan":false,"selling_plan_allocations":[]}],"images":["//cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_1_Intro.jpg?v=1666589110","//cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_2_ReliefFromSleepHeat.jpg?v=1666589110","//cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_5_WCA_NSF.jpg?v=1666589111","//cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_4_ProtectionBenefits.jpg?v=1666589109","//cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_3_CoolingBenefits.jpg?v=1666589109","//cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_FRIO_5-Sided_Pkg_FrontLeft_1080x605_PureCare.jpg?v=1666589110","//cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_FRIO_5-Sided_Pkg_BackRight_1080x605_PureCare.jpg?v=1666589110","//cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_Product.jpg?v=1666589110"],"featured_image":"//cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_1_Intro.jpg?v=1666589110","options":[{"name":"Size","position":1,"values":["Cal King","Full XL","Split Cal King","Full","Twin XL","Queen","King","Twin"]},{"name":"Color","position":2,"values":["White"]}],"url":"/products/frio-5-sided-mattress-protector","media":[{"alt":null,"id":30843494727901,"position":1,"preview_image":{"aspect_ratio":1.653,"height":605,"width":1000,"src":"https://cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_1_Intro.jpg?v=1666589110"},"aspect_ratio":1.653,"height":605,"media_type":"image","src":"https://cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_1_Intro.jpg?v=1666589110","width":1000},{"alt":null,"id":30843494760669,"position":2,"preview_image":{"aspect_ratio":1.653,"height":605,"width":1000,"src":"https://cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_2_ReliefFromSleepHeat.jpg?v=1666589110"},"aspect_ratio":1.653,"height":605,"media_type":"image","src":"https://cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_2_ReliefFromSleepHeat.jpg?v=1666589110","width":1000},{"alt":null,"id":30843494793437,"position":3,"preview_image":{"aspect_ratio":1.653,"height":605,"width":1000,"src":"https://cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_5_WCA_NSF.jpg?v=1666589111"},"aspect_ratio":1.653,"height":605,"media_type":"image","src":"https://cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_5_WCA_NSF.jpg?v=1666589111","width":1000},{"alt":null,"id":30843494826205,"position":4,"preview_image":{"aspect_ratio":1.653,"height":605,"width":1000,"src":"https://cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_4_ProtectionBenefits.jpg?v=1666589109"},"aspect_ratio":1.653,"height":605,"media_type":"image","src":"https://cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_4_ProtectionBenefits.jpg?v=1666589109","width":1000},{"alt":null,"id":30843494858973,"position":5,"preview_image":{"aspect_ratio":1.653,"height":605,"width":1000,"src":"https://cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_3_CoolingBenefits.jpg?v=1666589109"},"aspect_ratio":1.653,"height":605,"media_type":"image","src":"https://cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_3_CoolingBenefits.jpg?v=1666589109","width":1000},{"alt":null,"id":30843494891741,"position":6,"preview_image":{"aspect_ratio":1.653,"height":605,"width":1000,"src":"https://cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_FRIO_5-Sided_Pkg_FrontLeft_1080x605_PureCare.jpg?v=1666589110"},"aspect_ratio":1.653,"height":605,"media_type":"image","src":"https://cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_FRIO_5-Sided_Pkg_FrontLeft_1080x605_PureCare.jpg?v=1666589110","width":1000},{"alt":null,"id":30843494924509,"position":7,"preview_image":{"aspect_ratio":1.653,"height":605,"width":1000,"src":"https://cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_FRIO_5-Sided_Pkg_BackRight_1080x605_PureCare.jpg?v=1666589110"},"aspect_ratio":1.653,"height":605,"media_type":"image","src":"https://cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_FRIO_5-Sided_Pkg_BackRight_1080x605_PureCare.jpg?v=1666589110","width":1000},{"alt":null,"id":30843494957277,"position":8,"preview_image":{"aspect_ratio":1.653,"height":605,"width":1000,"src":"https://cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_Product.jpg?v=1666589110"},"aspect_ratio":1.653,"height":605,"media_type":"image","src":"https://cdn.shopify.com/s/files/1/0662/9516/9245/products/Img_Protectors_Frio_5Sided_1080x605_PureCare_Product.jpg?v=1666589110","width":1000}],"requires_selling_plan":false,"selling_plan_groups":[]}</div>		                              <div class="popupmsg" style="height:0;"></div>		                              <div class="popuppricediv"><div class="detail_price"><span class="price" style="">Now $191.49</span><input type="hidden" value="191.49" class="main_price"></div></div>		                              <select name="id" class="launchtip_select_wrapper" style="display:none;"><option value="43452482715869">Cal King / White</option><option value="43452482748637">Full XL / White</option><option value="43452482781405">Split Cal King / White</option><option value="43452482814173">Full / White</option><option value="43452482846941">Twin XL / White</option><option value="43452482879709">Queen / White</option><option value="43452482912477">King / White</option><option value="43452482945245">Twin / White</option></select><div class="launchtip_select_options_div"><div class="launchtip_select_option_wrapper"><label>Size</label><select class="launchtip_select_option_list"><option value="Cal King">Cal King</option><option value="Full XL">Full XL</option><option value="Split Cal King">Split Cal King</option><option value="Full">Full</option><option value="Twin XL">Twin XL</option><option value="Queen">Queen</option><option value="King">King</option><option value="Twin">Twin</option></select></div><div class="launchtip_select_option_wrapper"><label>Color</label><select class="launchtip_select_option_list"><option value="White">White</option></select></div></div><input type="hidden" name="quantity" value="1"><input type="hidden" name="properties[_sellup_id]" value="52184">		                              <button type="submit" name="add" ind_product_id="7904216711389" sell-id="52184" title="Cal King / White" action-type="" upsell-type="onpage" class="btn add-to-cart launchtip_add_to_cart launchtip_upsellpopup_design" style="border: none;cursor: pointer;width: 50%;"><span class="add-to-cart__text" data-text="Add this">Add this</span></button>		                              </form>		                          </div>		                          </div>		                          		                          <button class="btn openbox launchtip_upsell_design" style="border: none;cursor: pointer;" href="#fl00p"><span class="add-to-cart__text">Add this</span></button>		                          </div>		                          </div>		                          </div><form method="post" id="product-form-template--16578789933277__main" accept-charset="UTF-8" class="form" enctype="multipart/form-data" novalidate="novalidate" data-type="add-to-cart-form"><input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓"><input type="hidden" name="id" value="43341254754525">
                  <div class="product-form__buttons">
                    <button type="submit" name="add" class="btn btn-primary w-full max-w-320 md:max-w-380 md:py-8p5 xl:max-w-368 xl:py-6p5 2xl:max-w-none" data-cy="add-to-cart-button">
                        <span>Add to cart
</span>
                        <span class="loading-overlay__spinner hidden">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner hidden" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </span>
                    </button>                    
                  </div>
                  <div class="affirm-placeholder"></div><p class="affirm-as-low-as" data-amount="79900" data-affirm-type="logo" data-page-type="product" data-affirm-color="blue" style="font-size: 12px;">Starting at <span class="affirm-ala-price">$73</span>/mo with <span class="__affirm-logo __affirm-logo-blue __ligature__affirm_full_logo__ __processed">Affirm</span>. <a class="affirm-modal-trigger" aria-label="Prequalify now about Affirm Financing (opens in modal)" href="javascript:void(0)">Prequalify now</a></p></form></product-form>
            </div>
            <div id="shopify-block-ff1cfefc-b0a1-49cc-ae87-7b4f46da58c3" class="shopify-block shopify-app-block"><style data-shopify="">
  @media only screen and (min-width: 960px) {
    .faq-plus-accordian {
        max-width: 100% !important;
    }
  }
</style>

<div data-id="ff1cfefc-b0a1-49cc-ae87-7b4f46da58c3"><h2 class="h2 ef-faqs-embed-heading" style="padding-bottom: 10px; text-align: left">Frequently Asked Questions</h2><div class="ef-faqs-embed-content"><div class="ef-faqs-plus-app-cats-content" data-category="Payments" id="ef-faqs-632bba55f538cbb0318096e4">
    <div id="faq-plus-app">

      

      

      <div class="template-404 page-width page-margin center mouse" style="
    text-align: center;
">
  <p>
    404
  </p>
  <h1 class="title mouse">
    Page not found
  </h1>
  <a href="/collections/all" class="button mt-5">
    Continue shopping
  </a>
</div>
      
      
      
      

      

      
      
      <div class="faq-plus-app-container max-w-66" id="easy-faq-app-default-display">
  <div class="faq-plus-accordian">
      <div id="lorem-ipsum-dolor-sit-amet--consectetur-adipiscing-elit--" class="faqPlusAppFaq mouse">
          <input type="checkbox" class="faqPlusAppToggle mouse" id="toggle-Payments-0-0">
          <label for="toggle-Payments-0-0" class="faqPlusAppTitle" itemprop="name">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </label>
        <div class="faqPlusAppContent" data-search-id="632bbad9f538cbb0318096e8">
        	<div class="faqPlusAppAnswer" itemprop="text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula neque libero, at lacinia lorem bibendum et. Pellentesque euismod sodales sem nec tincidunt. In a ante vitae purus dictum dictum. Vestibulum nisl quam, accumsan sit amet feugiat vitae, tristique quis enim. Curabitur auctor justo consectetur, maximus arcu et, molestie magna. Sed condimentum felis mauris, sed fermentum nisl luctus vitae. Mauris tincidunt facilisis nisi, ullamcorper vestibulum ante euismod a. Sed a molestie lectus. Fusce sed facilisis velit. Etiam suscipit, est eu imperdiet blandit, erat purus cursus felis, placerat suscipit leo sapien nec turpis. Mauris viverra, dolor sed facilisis aliquet, justo ex fringilla dolor, ac convallis lorem lacus at libero. Morbi eu euismod dolor, a tempor est. Curabitur hendrerit purus neque, ac ornare urna dignissim at. Praesent varius in erat a dapibus. Nullam ornare justo arcu, eu commodo leo vehicula nec.</p></div>
      	</div>
		  </div>
      <div id="lorem-ipsum-dolor-sit-amet--consectetur-adipiscing-elit" class="faqPlusAppFaq">
          <input type="checkbox" class="faqPlusAppToggle" id="toggle-Payments-1-0">
          <label for="toggle-Payments-1-0" class="faqPlusAppTitle" itemprop="name">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
        <div class="faqPlusAppContent" data-search-id="632bbaf4f538cbb0318096e9">
        	<div class="faqPlusAppAnswer" itemprop="text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula neque libero, at lacinia lorem bibendum et. Pellentesque euismod sodales sem nec tincidunt. In a ante vitae purus dictum dictum. Vestibulum nisl quam, accumsan sit amet feugiat vitae, tristique quis enim. Curabitur auctor justo consectetur, maximus arcu et, molestie magna. Sed condimentum felis mauris, sed fermentum nisl luctus vitae. Mauris tincidunt facilisis nisi, ullamcorper vestibulum ante euismod a. Sed a molestie lectus. Fusce sed facilisis velit. Etiam suscipit, est eu imperdiet blandit, erat purus cursus felis, placerat suscipit leo sapien nec turpis. Mauris viverra, dolor sed facilisis aliquet, justo ex fringilla dolor, ac convallis lorem lacus at libero. Morbi eu euismod dolor, a tempor est. Curabitur hendrerit purus neque, ac ornare urna dignissim at. Praesent varius in erat a dapibus. Nullam ornare justo arcu, eu commodo leo vehicula nec.</p></div>
      	</div>
		  </div></div>
	</div>

      

      

    </div>

    
    
    
  </div></div></div>

</div>
<div id="easy-faq-app-top-section" style="background-image: url(https://faqs-plus.herokuapp.com/public/images/template-three-background.jpeg); margin-bottom: 30px;">
      <h1 id="easy-faq-app-header" style="text-align: center; color:#fff"><span>Frequently Asked Questions</span></h1>

        

        

        
    <div class="easy-faq-contact-details">

    <div class="easy-faq-double-detail-box stamped-fa-star-o stamped-reviews-search-text stamped-questions-filter">
      <img alt="Email Support" src="https://faqs-plus.herokuapp.com/public/images/email.png">
      <div class="easy-faq-single-detail-box-details">
        <p style="color:#fff">Support Email</p>
        <p><a style="color:#fff" href="mailto:hello@yellow.com">hello@yellow.com</a></p>
      </div>
    </div>

    <div class="easy-faq-double-detail-box">
    <img alt="Phone Support" src="https://faqs-plus.herokuapp.com/public/images/phone.png">
    <div class="easy-faq-single-detail-box-details">
      <p style="color:#fff">Support Phone</p>
      <p style="color:#fff">+1-927-234-424</p>
    </div>
  </div>

  </div>

        

        

        <div class="introTextFaqPlus" style=""><p>Check most frequently asked questions here, if you still need help then please contact us at <a href="mailto:yellow@hello.com">yellow@hello.com</a>. This text can be changed by going to Design &amp; Settings &gt; Global Settings &gt; Intro Text.</p></div>

      </div>